<div class="modal fade" id="siswaBaruModal" tabindex="-1" role="dialog" aria-labelledby="siswaBaruModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="siswaBaruModalLabel">Tambah Siswa</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form action="<?= base_url('siswa'); ?>" method="post">
                 <div class="modal-body">
                     <div class="form-group">
                         <input type="text" class="form-control form-control-user" id="nama" name="nama" placeholder="Masukkan Nama Siswa">
                     </div>
                     <div class="form-group">
                         <input type="text" class="form-control form-control-user" id="nis" name="nis" placeholder="Masukkan NIS Siswa">
                     </div>
                     <div class="form-group">
                         <input type="text" class="form-control form-control-user" id="kelas" name="kelas" placeholder="Masukkan Kelas">
                     </div>
                     <div class="form-group">
                         <input type="date" class="form-control form-control-user" id="tgllahir" name="tgllahir" placeholder="Masukkan Tanggal Lahir">
                     </div>
                     <div class="form-group">
                         <input type="text" class="form-control form-control-user" id="tmplahir" name="tmplahir" placeholder="Masukkan Tempat Lahir">
                     </div>
                     
                     <div class="form-group">
                         <input type="text" class="form-control form-control-user" id="alamat" name="alamat" placeholder="Masukkan Alamat">
                     </div>
                     
                     <div class="form-group">
                         <select class="form-control" id="agama" name="agama">
                             <option value="Agama">Masukkan Agama</option>
                             <option value="Islam">Islam</option>
                             <option value="Kristen">Kristen</option>
                             <option value="Katolik">Katolik</option>
                             <option value="Budha">Budha</option>
                             <option value="Hindu">Hindu</option>
                             <option value="Protestan">Protestan</option>
                             <option value="Khonghucu">Khonghucu</option>
                         </select>
                     </div>
                     <div class="form-group">
                         <input type="radio" name="jnskel" value="Laki-Laki"> Laki - Laki
                         <input type="radio" name="jnskel" value="Perempuan"> Perempuan</div>
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-ban"></i>Close</button>
                     <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Tambah</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- End of Modal Tambah Mneu -->